<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">Location User</li>
		<li class="active"><a href="#">neighbour 1</a></li>
		<li><a href="#">neighbour 2</a></li>
		<li class="nav-header">Label search</li>
		<li><a href="#"><span class="label label-success">Ask</span></a></li>
		<li><a href="#">Buy</a></li>
		<li><a href="#">Sell</a></li>
	</ul>
	<!-- Button to trigger modal -->
	<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">new status</a>
</div>