<div class="row">
	<div class="span3" data-spy="affix">
		<%= render :partial => "navbar_right" %>
	</div><!-- span-->
	<!-- Modal status -->
	<%= render :partial => "status/update_status" %>
	<div class="span9 offset3">
		<h3>level neighbour around you</h3>
		<div class="row">
			<%= render :partial => "progress_bar" %>
		</div><!-- row -->
		<div class="row">
			<%= render :partial => "status_align" %>
		</div><!-- row -->
	</div><!-- span-->
</div><!-- row -->